.products {
  background-color: white;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 3rem;
  width: 1fr;
  place-content: start;
  padding-left: 50px;
  padding-top: 100px;
}
.product {
  display: grid;
  place-content: center;
  width: 300px;
}
.product-image {
  display: grid;
  width: 100%;
}
.product-image:hover {
  cursor: pointer;
}
.product-price {
  display: grid;
  justify-content: center;
  font-weight: 700;
  color: red;
}
.product-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center;
  gap: 5px;
}
.contact-now-button {
  display: grid;
  background-color: rgba(128, 128, 128, 0.795);
  color: whitesmoke;
  font-weight: 700;
  padding: 2px 10px;
}
.contact-now-button:hover {
  cursor: pointer;
}
.product-basket-button {
  display: grid;
}
