* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: solid black 1px; */
}
.product-main {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  gap: 1rem;
}
.product-left-main {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 1fr;
}
.product-right-main {
  display: grid;
  grid-template-rows: repeat(2, auto);
  width: 200px;
  margin-right: 1.5rem;
  gap: 1rem;
}
.top-left {
  display: grid;
  grid-template-columns: 400px 1fr;
  place-content: center;
  gap: 5px;
  padding: 5px;
  width: 1000px;
}
.top-product-image {
  display: grid;
  align-content: start;
  width: 100%;
}
.top-product-image img {
  display: grid;
  width: 100%;
}
.left-product-specificity {
  display: grid;
  gap: 1rem;
  width: 100%;
}
#product-name {
  display: grid;
  padding: 1rem;
  text-align: start;
  font-weight: 700;
  font-size: 16px;
}
#product-pql {
  display: grid;
  padding: 1rem;
  color: red;
  text-align: start;
}
#product-availability {
  display: grid;
  height: 200px;
  padding-left: 1rem;
  gap: 8px;
}
.product-features {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-content: center space-between;
  font-size: 12px;
  font-weight: 300;
}
.key {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.534);
}
.value {
  color: black;
  font-weight: 700;
  display: grid;
  text-align: end;
  margin-right: 1rem;
}
.bottom-left {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
#product-dsc {
  text-align: start;
  padding-left: 1rem;
  font-size: 20px;
  font-weight: 700;
}
.product-descriptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  outline: solid black 1px;
  width: 995px;
  margin-left: 1rem;
}
.product-descriptions-left-tab {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  outline: solid black 1px;
}
.left-tab-feature {
  display: grid;
  justify-content: start;
  align-content: center;
  padding-left: 10px;
  outline: solid black 1px;
}
.product-descriptions-right-tab {
  display: grid;
  grid-template-rows: repeat(8, 40px);
  outline: solid black 1px;
}
.right-tab-info {
  display: grid;
  justify-content: start;
  align-content: center;
  padding-left: 10px;
  outline: solid black 1px;
}
#right-tab-info-price {
  display: grid;
  text-align: start;
}
.bottom-product-image {
  display: grid;
  place-content: center;
  width: 2fr;
}
#bottom-product-image {
  display: grid;
  width: 100%;
}
.top-right {
  display: grid;
  grid-template-rows: repeat(3, auto);
  width: 200px;
  background-color: #f5f7fa;
}
.product-contact-manager {
  display: grid;
  align-content: start;
  height: 50px;
  position: relative;
  bottom: 10px;
}
.product-contact-manager p {
  display: grid;
  height: 50px;
  align-content: center;
  justify-content: start;
  padding-left: 5px;
  font-size: 20px;
}
.product-manager-pic-name {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-content: center;
  position: relative;
  bottom: 20px;
  right: 10px;
}
#manager-pic {
  display: grid;
  width: 35px;
  height: 35px;
  place-content: center;
}
#manager-pic img {
  display: grid;
  width: 35px;
}
#manager-name {
  display: grid;
  place-content: center;
  font-weight: 700;
}
.manager-send-button-wrapper {
  display: grid;
  place-content: center;
  width: 200px;
}
#manager-send-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  width: 200px;
  align-content: center;
  justify-content: center;
  height: 50px;
  background-color: red;
  border-radius: 5px;
}
#manager-send-button:hover {
  cursor: pointer;
}
#manager-send-button p {
  display: grid;
  height: 24px;
  place-content: center;
  color: whitesmoke;
  font-weight: 700;
}
.bottom-right {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 200px;
}
#might-also-like-txt {
  display: grid;
  font-weight: 700;
  font-size: 17px;
}
.bottom-right-products {
  display: grid;
  gap: 1rem;
  width: 200px;
}
.bottom-right-product {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  place-content: center;
  gap: 2px;
  background-color: #f5f7fa;
}
.bottom-right-product-img {
  display: grid;
  grid-template-rows: repeat(2, 50px);
  place-content: start;
  width: 100%;
}
.bottom-right-product-img img {
  display: grid;
  width: 100%;
}
.bottom-right-product-description {
  display: grid;
  place-content: start;
  font-size: 12px;
}
