.modal-wrapper {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
}
.modal {
  display: grid;
  gap: 5px;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 2px;
}
.close-modal-button-wrapper {
  display: grid;
  justify-content: end;
}
#close-modal-button {
  background-color: red;
  width: 100%;
  border-radius: 3px;
}
#close-modal-button img {
  display: grid;
  place-content: center;
  height: 20px;
}
#modal {
  display: grid;
  gap: 3rem;
  width: 450px;
}
.top-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  height: 200px;
}
.cart-image {
  display: grid;
  place-content: center;
  width: 300px;
}
.cart-image img {
  display: grid;
  width: 100%;
  border-radius: 5px;
}
.cart-psp {
  display: grid;
  gap: 7px;
}
.product-features {
  display: grid;
  place-content: center;
  font-weight: 700;
}
#product-name {
  display: grid;
  justify-items: start;
  font-size: 14px;
  font-weight: 500;
}
#product-features-stock {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  display: grid;
  place-items: center;
}
#stock-number {
  color: rgb(15, 141, 46);
  font-size: 20px;
  border: solid rgba(0, 0, 0, 0.137) 1px;
  display: grid;
  place-content: center;
  width: 25px;
  border-radius: 2px;
}
#price {
  color: red;
  font-size: 17px;
}
.bottom-section {
  display: grid;
  gap: 1rem;
}
.buy-button-wrapper {
  display: grid;
  place-content: center;
  height: 50px;
}
.buy-button {
  display: grid;
  place-content: center;
  height: 50px;
  width: 350px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
  transition-duration: 0.3s;
}
.buy-button:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.add-button-wrapper {
  display: grid;
  place-content: center;
  height: 50px;
}
.add-button {
  display: grid;
  place-content: center;
  height: 50px;
  width: 350px;
  background-color: rgb(15, 141, 46);
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
  transition-duration: 0.3s;
}
.add-button:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
