<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/pages/Main.css">
</head>

<body>
    <main class="main">
        <div class="left-main">
            <div class="top-left">
                <div class="top-product-image">
                    <img id="top-product-image" src="" alt="">
                </div>
                <div class="left-product-specificity">
                    <div id="product-name"></div>
                    <div id="product-pql"></div>
                    <div id="product-availability"></div>
                </div>
            </div>
            <div class="bottom-left">
                <div class="product-descriptions"></div>
                <div class="bottom-product-image">
                    <img id="bottom-product-image" src="" alt="">
                </div>
            </div>
        </div>
        <div class="right-main">
            <div class="top-right">Contact menager
                <div class="manager-pic-name">
                    <div class="manager-pic"></div>
                    <div class="manager-name"></div>
                </div>
                <div class="manager-input-send-button">
                    <div class="manager-input"></div>
                    <div class="manager-send-button"></div>
                </div>
            </div>
            <div class="bottom-right"></div>
        </div>
    </main>
</body>

</html>