<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/pages/Main.css">
</head>

<body>
    <main class="main">
        <div class="left-main">
            <div class="top-left">
                <div class="top-product-image">
                    <img id="top-product-image"
                        src="https://images.unsplash.com/photo-1573227896778-8f378c4029d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bGVhdGhlcnxlbnwwfHwwfHw%3D&w=1000&q=80"
                        alt="">
                </div>
                <div class="left-product-specificity">
                    <div id="product-name">Smooth Abrasion Resistant PVC Faux Leather Vinyl Leather Fabric for Car
                        Accessory Interior</div>
                    <div id="product-pql">US $1.5-2.5 / Meter |
                        500 Meters (Min. Order)
                    </div>
                    <div id="product-availability">
                        <div>
                            <p class="product-features">Thickness</p> : <p>0.6~1.2</p>
                        </div>
                        <div>
                            <p class="product-features">Usage</p> : <p>Bag, Shoes, Furniture, Decorative, Car Seat, Home
                                Textile, Gloves,
                                Notebook, Belt</p>
                        </div>
                        <div>
                            <p class="product-features">Feature</p> : <p>Abrasion Resistant, Soft</p>
                        </div>
                        <div>
                            <p class="product-features">Width</p> : <p>54/55"</p>
                        </div>
                        <div>
                            <p class="product-features">Pattern</p> : <p>Embossed</p>
                        </div>
                        <div>
                            <p class="product-features">Material</p> : <p>PVC</p>
                        </div>
                        <div>
                            <p class="product-features">Samples</p> : <p>US$ 15/Meter 1 Meter(Min.Order)</p>
                        </div>
                        <div>
                            <p class="product-features">Customization</p> : <p>Available</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-left">
                <div class="product-descriptions"></div>
                <div class="bottom-product-image">
                    <img id="bottom-product-image" src="" alt="">
                </div>
            </div>
        </div>
        <div class="right-main">
            <div class="top-right">Contact menager
                <div class="manager-pic-name">
                    <div id="manager-pic"></div>
                    <div id="manager-name"></div>
                </div>
                <div class="manager-input-send-button">
                    <div id="manager-input"></div>
                    <div id="manager-send-button"></div>
                </div>
            </div>
            <div class="bottom-right">YOU MIGHT ALSO LIKE
                <div class="bottom-right-product">
                    <div class="bottom-right-product-img"></div>
                    <div class="bottom-right-product-description"></div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>