.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: solid black 1px;
  font-family: sans-serif;
}
.header {
  width: 100%;
  display: grid;
  gap: 10px;
  height: auto;
}
.top-header {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 100px;
}
.logo {
  display: grid;
  place-content: center;
  height: 100%;
}
.logo img {
  display: grid;
  place-content: center;
  width: 100px;
  padding: 5px;
}
.right-header {
  display: grid;
  gap: 5px;
}
.company-name {
  display: grid;
  place-content: start;
  align-content: end;
  font-size: 23px;
  font-weight: 700;
  width: 300px;
  padding-left: 1.5rem;
}
.search-bar {
  display: grid;
  grid-template-columns: 1fr 40px;
  justify-content: start;
  align-content: center;
  width: 90%;
  padding-left: 1.5rem;
}
.search-input {
  display: grid;
  width: 100%;
  height: 40px;
}
.search-icon {
  display: grid;
  place-content: center;
  width: 100%;
  background-color: red;
}
.search-icon img {
  display: grid;
  width: 35px;
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  list-style: none;
  height: 40px;
  background-color: #666;
  margin-bottom: 10px;
}
.nav-bar li {
  display: grid;
  place-content: center;
  font-weight: 600;
  color: white;
}
.main {
  display: grid;
  grid-template-rows: 630px 1fr;
  width: 100%;
  gap: 20px;
}
.top-main {
  display: grid;
  place-content: center;
  align-self: start;
}
.top-main img {
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
.bottom-main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
}
.asside {
  display: grid;
  grid-template-rows: repeat(3, auto);
  width: 100%;
  gap: 10px;
}
.products {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
  width: 1fr;
  place-content: start;
  margin-left: 50px;
  margin-top: 100px;
}
.product {
  display: grid;
  place-content: center;
  width: 300px;
}
.product-image {
  display: grid;
  width: 100%;
}
